/*@font-face {
  font-family: 'KulimParkBold';
  src: url(fonts/KulimPark/KulimPark-Bold.ttf);
}
*/
@font-face {
  font-family: 'OrelegaOne';
  src: url(fonts/OrelegaOne-Regular.ttf);
}

body {
  margin: 0;
  background-color: #211E3D;
}
header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  height: 760px;
  background-image: url(image/12_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Links {
  width: 100%;
  height: 27px;
  display: flex;
  justify-content: center;
}
.Links>a {
  font-family: OrelegaOne;
  font-style: normal;
  line-height: 27px;
  font-size: 18px;
  text-decoration:  none;
  color: white;
  margin: 0 35px;
}
.Links>a:hover {
  text-decoration: underline;
}

.Nav>input {
  margin-top: 15px;
  width: 271.5px;
  height: 35.34px;

  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(196, 196, 196);
  border-radius: 15px;

  font-family: OrelegaOne;
  font-style: normal;
  line-height: 27px;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;

  color: white;
}

.TitlePage {
  margin-top: 10%;
  width: 1158px;
  height: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TitlePage>p {
  text-align: center;
  color: white;
}
.TitlePage>h1 {
  margin: 0;
  font-family: OrelegaOne;
  font-style: normal;
  font-weight: 150;
  font-size: 72px;
  color: white;
}
#TitleHR {
  font-size: 24px;
}
#TitleDescription {
  margin: 0;
  font-family: OrelegaOne;
  font-style: normal;

  width: 100%;
  height: 184px;
  font-size: 36px;
}

@media (max-width: 1024px) {
  .TitlePage {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .Links {
    height: 54px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .Links {
    height: 80px;
  }
  #TitleDescription {
    font-size: 32px;
  }
}

/* ТУТ НАЧИНАЕТСЯ ТЕЛО*/

.News {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.CompAndMC {
  width: 100%;
  height: 675px;
}

.LastMC {
  width: 100%;
  display: flex;
  justify-content: center;
}
.LastMC>iframe {
  margin: 25px 0;
  width: 95%;
  height: 810px;
  background-color: #4D4A63;
  border-radius: 78px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Something {
  width: 100%;
  height: 600px;
}
.TheBest {
  width: 100%;

  margin-bottom: 10px;
  border-radius: 50px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 0;

  background-color: #4D4A63;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.Faculty {
  width: 675px;
  height: 608px;
  display: flex;
  flex-direction: row;
}
.Description {
  height: 120px;
  margin: 0 15px;

  font-family: OrelegaOne;
  font-style: normal;
}
.Description>h1 {
  font-size: 32px;
  text-align: center;

  color: #A48AAF;
  font-weight: 100;

  margin: 0;
}
.Description>p {
  margin: 0;
  font-size: 28px;
  text-align: center;

  color: #EDD8F5;
}
#Strong {
    flex-direction: row-reverse;
}

@media (max-width: 1024px) {

}
@media (min-width: 768px) and (max-width: 1023px) {

}
@media (max-width: 825px) {
  .Faculty {
    width: auto;
  }
  .TheBest {
    flex-direction: column;
    align-items: center;
  }/*
  .Description>h1 {
    font-size: 22px;
  }
  .Description>p {
    font-size: 18px;
  }*/
}
@media (max-width: 650px) {
  .Description>h1 {
    font-size: 22px;
  }
  .Description>p {
    font-size: 18px;
  }
}

/* ТУТ НАЧИНАЕТСЯ ПОДВАЛ*/
footer {
  width: 100%;
  height: 250px;
  background-color: #313131;
  display: flex;
  align-items: center;
}

.InfoBlock {
  width: 648px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}
.InfoBlock h3 {
  margin: 0;
  font-family: OrelegaOne;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;

  color: #a9a9a9;
}
.InfoBlock a {
  margin: 0;

  font-family: OrelegaOne;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;

  color: white;
}
.InfoBlock a:hover {
  font-size: 22px;
}
.AboutUs {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.Social {
  width: 118px;
}
.Feedback {
  width: 272px;
}

@media (max-width: 1024px) {

}
@media (min-width: 768px) and (max-width: 1023px) {

}
@media (min-width: 695px) and (max-width: 767px) {

}
@media (max-width: 695px) {
  .InfoBlock {
    flex-direction: column;
  }
}
