/*@font-face {
  font-family: 'KulimParkBold';
  src: url(fonts/KulimPark/KulimPark-Bold.ttf);
}
*/
@font-face {
  font-family: 'OrelegaOne';
  src: url(../fonts/OrelegaOne-Regular.ttf);
}

/* ТУТ НАЧИНАЕТСЯ ТЕЛО*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #211E3D;
}

main h1 {
  font-family: OrelegaOne;
  font-weight: 100;
  margin: 0;
  padding: 0px 40px 0px 40px;
  color: #A48AAF;
}
main h3 {
  font-family: OrelegaOne;
  font-weight: 100;
  margin: 0;
  padding: 0px 40px 0px 40px;
  color: #d993f5;
}
main p {
  font-family: OrelegaOne;
  font-weight: 100;
  margin: 0;
  padding: 0px 40px 0px 40px;
}
main div div{
  height: 400px;
  width: auto;
}

.gamecontainer {
  background: #C8C8C8;
  background-color: #4D4A63;
  color: white;
  margin: 25px auto;
  width: 90%;
  border-radius: 78px;
  box-shadow: 10px 5px 6px #252B31;
  border-width: 1px;
  text-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.rating {
  display:flex;
  flex-direction: column;
  background-color: #4D4A63;
  color: #EDD8F5;
  margin: 25px auto;
  width: 90%;
  border-radius: 78px;
  box-shadow: 10px 5px 6px #252B31;
  text-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
}

.rating_main_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.rating_inner_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.inner_requirement_box{
  height:auto;
}

.inner_list{
  height: auto;
}

.POOG{
  height: auto;
  text-align: center
}

.the_list{
  height: auto;
  display: flex;
}
.content_list_1{
  width: 10%;
  height: auto;
}
.content_list_2{
  width: 5%;
  height: auto;
  margin: 10%;
  margin-top: 0%
}