@font-face {
  font-family: 'OrelegaOne';
  src: url(../fonts/OrelegaOne-Regular.ttf);

  font-style: normal;
  font-weight: normal;
}

main {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

main h1 {
  font-family: OrelegaOne;
  font-weight: 100;
  margin: 0;
  padding: 0px 40px 0px 40px;

  color: #A48AAF;
}

main div p {
  font-family: OrelegaOne;
  margin-block-start: 0em;
  margin-block-end: 5px;

  font-size: 18px;
  color: #EDD8F5;
}

.descriptionblock>a {
  font-family: OrelegaOne;
  font-weight: 100;
  font-size: 20px;
  padding: 0 40px;
  text-decoration: none;
  color: #EDD8F5;
}

main div ul{}
.descriptionblock {
  margin: 25px 0;
  background-color: #4D4A63;
  width: 80%;
  border-radius: 60px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
